name: "Fork Release"

on:
  push:
    tags:
      - "fork-v*"

env:
  GO_VERSION: 1.25.x

jobs:
  release:
    name: Build and upload binaries
    permissions:
      contents: write
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Build binaries
        run: make dist

      - name: Publish release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          files: _dist/**
          generate_release_notes: true
