name: "Helm-Unittest Release"

on:
  push:
    tags:
      - "v*.*.*"

env:
  REGISTRY_IMAGE: helmunittest/helm-unittest
  HELM_REPO: helm/helm
  PLUGIN_REPO: helm-unittest/helm-unittest
  GO_VERSION: 1.25.x

jobs:
  release:
    name: create distribution and upload to release
    permissions:
      contents: write # to publish assets to the release
    runs-on: ubuntu-24.04
    steps:
      - name: checkout
        # https://github.com/actions/checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: setup go
        # https://github.com/actions/setup-go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: make distribution
        shell: bash
        run: make dist

      - name: publish artifacts
        # https://github.com/softprops/action-gh-release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          files: _dist/**

  determine-versions:
    name: determine latest version of helm and helm-unittest plugin
    runs-on: ubuntu-24.04
    needs:
      - release
    outputs:
      HELM_VERSIONS: ${{ steps.helm-versions.outputs.helmversions }}
      HELM_PLUGIN_VERSIONS: ${{ steps.helm-plugin-versions.outputs.helmpluginversions }}
      HELM_LATEST_VERSION: ${{ steps.helm-versions.outputs.helmlatestversion }}
      HELM_PLUGIN_LATEST_VERSION: ${{ steps.helm-plugin-versions.outputs.helmpluginlatestversion }}
    steps:
      - id: helm-versions
        env:
          TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          helmLatest=`curl -sL -H "Authorization: token $TOKEN"  https://api.github.com/repos/${{ env.HELM_REPO }}/tags?per_page=4 |jq -r ".[].name"|sed 's/^v//'|sort -V |grep -v -`
          echo "helmversions=$(printf '%s\n' ${helmLatest[@]} | jq -R . | jq -cs .)" >> $GITHUB_OUTPUT
          echo "helmlatestversion=$(printf '%s\n' ${helmLatest[@]} | jq -R . | jq -cs .[-1])" >> $GITHUB_OUTPUT
      - id: helm-plugin-versions
        env:
          TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          pluginLatest=`curl -sL -H "Authorization: token $TOKEN" https://api.github.com/repos/${{ env.PLUGIN_REPO }}/tags?per_page=2 |jq -r ".[].name"|sed 's/^v//'|sort -V |grep -v -`
          echo "helmpluginversions=$(printf '%s\n' ${pluginLatest[@]} | jq -R . | jq -cs .)" >> $GITHUB_OUTPUT
          echo "helmpluginlatestversion=$(printf '%s\n' ${pluginLatest[@]} | jq -R . | jq -cs .[-1])" >> $GITHUB_OUTPUT

  release-docker:
    name: create multi-arch docker images and upload to dockerhub
    permissions:
      contents: write # to publish assets to the release
    runs-on: ubuntu-24.04
    environment: HELMUNITTEST-RELEASE
    needs:
      - determine-versions
    strategy:
      fail-fast: false
      matrix:
        platform: [linux/amd64, linux/arm64, linux/s390x, linux/ppc64le]
        helmVersion: ${{ fromJson(needs.determine-versions.outputs.HELM_VERSIONS) }}
        pluginVersion: ${{ fromJson(needs.determine-versions.outputs.HELM_PLUGIN_VERSIONS) }}
    steps:
      - name: Prepare
        run: |
          platform=${{ matrix.platform }}
          version=${{ matrix.helmVersion }}-${{ matrix.pluginVersion }}
          echo "PLATFORM_PAIR=${version}-${platform//\//-}" >> $GITHUB_ENV

      - name: Docker meta
        id: meta
        # https://github.com/docker/metadata-action
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: ${{ env.REGISTRY_IMAGE }}
          tags: ${{ matrix.helmVersion }}-${{ matrix.pluginVersion }}

      - name: Set up QEMU
        # https://github.com/docker/setup-qemu-action
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

      - name: Set up Docker Buildx
        # https://github.com/docker/setup-buildx-action
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Login to Docker Hub
        # https://github.com/docker/login-action
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push by digest
        id: build
        # https://github.com/docker/build-push-action
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          build-args: |
            HELM_VERSION=${{ matrix.helmVersion }}
            PLUGIN_VERSION=${{ matrix.pluginVersion }}
          labels: ${{ steps.meta.outputs.labels }}
          platforms: ${{ matrix.platform }}
          provenance: mode=max
          sbom: true
          outputs: type=image,name=${{ env.REGISTRY_IMAGE }},push-by-digest=true,name-canonical=true,push=true

      - name: Export digest
        run: |
          mkdir -p /tmp/digests
          digest="${{ steps.build.outputs.digest }}"
          touch "/tmp/digests/${digest#sha256:}"

      - name: Upload digest
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: digests-${{ env.PLATFORM_PAIR }}
          path: /tmp/digests/*
          if-no-files-found: error
          retention-days: 1
          overwrite: true

  merge:
    permissions:
      contents: read # to download assets from the release
    runs-on: ubuntu-24.04
    environment: HELMUNITTEST-RELEASE
    needs:
      - determine-versions
      - release-docker
    strategy:
      fail-fast: false
      matrix:
        helmVersion: ${{ fromJson(needs.determine-versions.outputs.HELM_VERSIONS) }}
        pluginVersion: ${{ fromJson(needs.determine-versions.outputs.HELM_PLUGIN_VERSIONS) }}
    steps:
      - name: Download digests
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          path: /tmp/digests
          pattern: digests-${{ matrix.helmVersion }}-${{ matrix.pluginVersion }}-*
          merge-multiple: true

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        env:
          HELM_LATEST: ${{ fromJson(needs.determine-versions.outputs.HELM_LATEST_VERSION) }}
          PLUGIN_LATEST: ${{ fromJson(needs.determine-versions.outputs.HELM_PLUGIN_LATEST_VERSION) }}
        with:
          images: ${{ env.REGISTRY_IMAGE }}
          tags: |
            ${{ matrix.helmVersion }}-${{ matrix.pluginVersion }}
            type=raw,value=latest,enable=${{ (matrix.helmVersion == env.HELM_LATEST) && (matrix.pluginVersion == env.PLUGIN_LATEST) }}

      - name: Login to Docker Hub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Create manifest list and push
        working-directory: /tmp/digests
        run: |
          docker buildx imagetools create $(jq -cr '.tags | map("-t " + .) | join(" ")' <<< "$DOCKER_METADATA_OUTPUT_JSON") \
            $(printf '${{ env.REGISTRY_IMAGE }}@sha256:%s ' *)

      - name: Inspect image
        run: |
          docker buildx imagetools inspect ${{ env.REGISTRY_IMAGE }}:${{ steps.meta.outputs.version }}
